<html>

<head>
    <link href="/css/demo.css" rel="stylesheet" type="text/css">
    <link href="/css/buttons-si.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1><a href="/">Página de inicio</a></h1>

    <h2><a href="/perfil">Perfil de usuario</a></h2>
    <!-- <a href="/status">Estado del servidor</a> -->
    <h2><a href="/secret">Acceso secreto</a></h2>
    <h2><a href="/auth/logout">Logout</a></h2>

 
</body>

</html>