<script>
  let texto;

  function fetchHTML() {
    fetch("/auth/google")
      .then(function(response) {
        return response.text();
      })
      .then(function(text) {
        console.log(text);
        document.getElementById('texto').innerHTML = text;
      });
  }

  const g = document.getElementById('g')
g.addEventListener('click', fetchHTML); 

function popup(proveedor) {
    window.open("/auth/" + proveedor, "Sign In", "width=985,height=735");
  }
</script>

<div>
    <h1>Iniciar sesión Login</h1>

    <button id="g" class="btn-si btn-google" onclick='window.open("/auth/google", "Sign In", "width=985,height=735")'></button>
    <button class="btn-si btn-facebook" onclick='window.open("/auth/facebook", "Sign In", "width=985,height=735")'></button>
    <button class="btn-si btn-linkedin" onclick='window.open("/auth/linkedin", "Sign In", "width=985,height=735")'></button>
    <button class="btn-si btn-pinterest" onclick='window.open("/auth/pinterest", "Sign In", "width=985,height=735")'></button>
    <button class="btn-si btn-github" onclick='window.open("/auth/github", "Sign In", "width=985,height=735")'></button>

</div>
<div id="texto"></div>

