<html>

<head>
    <link href="/css/demo.css" rel="stylesheet" type="text/css">
    <link href="/css/buttons-si.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1>Iniciar sesión</h1>

    <button class="btn-si btn-google"><a href="/auth/google">Iniciar con Google</a></button>
    <button class="btn-si btn-facebook"><a href="/auth/facebook">Iniciar con Facebook</a></button>
    <button class="btn-si btn-github"><a href="/auth/github">Iniciar con GitHub </a></button>
    <button class="btn-si btn-linkedin"><a href="/auth/linkedin">Iniciar con LinkedIn</a> </button>
    <button class="btn-si btn-pinterest"><a href="/auth/pinterest">Iniciar con Pinterest</a> </button>
    <button class="btn-si btn-tumblr"><a href="/auth/tumblr">Iniciar con Tumblr</a> </button>

    <!-- <button class="btn-si btn-instagram"><a href="/auth/instagram">Iniciar con Instagram </a></button> -->
    <!-- <button class="btn-si btn-twitter">Sign in with Twitter </button>
    <button class="btn-si btn-microsoft">Sign in with Microsoft </button>
    <button class="btn-si btn-foursquare">Sign in with Foursquare </button>
    <button class="btn-si btn-evernote">Sign in with Evernote </button>
    <button class="btn-si btn-dropbox">Sign in with Dropbox </button>
    <button class="btn-si btn-bitbucket">Sign in with Bitbucket </button> -->

</body>

</html>